body{
    font-family:"Roboto";
    color: #2E2F42 ;
    background-color: #FFFFFF  ;
}
/* header */

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.web{
    color: #4d5ae5;
}
a {
    text-decoration: none;
}
.header-adress{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
li{
    list-style-type: none;
}
.page-title{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 2%;
    color: #FFFFFF;
}
.section-page-title{
    background-color: #2E2F42;
}
.section-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.column-title{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        
        color: #2e2f42;
}
/* .team .column-title{ 
       text-align: center;
} */
p{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
.team-section{
    background: #f4f4fd;
    
}
.header-nav{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.footer{
    width: 1440px;
    height: 312px;
    background: #2e2f42;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}